--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.12.1+cu116 # --index-url https://download.pytorch.org/whl/cu116
torchvision==0.13.1+cu116 # --index-url https://download.pytorch.org/whl/cu116
diffusers[torch]==0.11.1
accelerate==0.15.0
transformers==4.25.1
bitsandbytes==0.35.4
einops
omegaconf
ftfy
tensorboard
modelcards
imageio
triton
click
opencv-python
imageio[ffmpeg]
huggingface-hub==0.13.3